@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 176 100% 90%; /* #BAFFF2 */
    --foreground: 256 28% 25%;  /* #332D4F */
    --card: 176 100% 90%;       /* #BAFFF2 */
    --card-foreground: 256 28% 25%; /* #332D4F */
    --popover: 176 100% 90%;    /* #BAFFF2 */
    --popover-foreground: 256 28% 25%; /* #332D4F */
    --primary: 168 99% 40%;     /* #01CDA8 */
    --primary-foreground: 176 100% 90%; /* #BAFFF2 */
    --secondary: 256 28% 25%;   /* #332D4F */
    --secondary-foreground: 176 100% 90%; /* #BAFFF2 */
    --muted: 176 50% 80%;       /* Lebih gelap dari #BAFFF2 */
    --muted-foreground: 256 28% 25%; /* #332D4F */
    --accent: 176 100% 85%;      /* #45FFDD */
    --accent-foreground: 256 28% 25%; /* #332D4F */
    --destructive: 348 75% 58%; /* #e54461 */
    --destructive-foreground: 176 100% 90%; /* #BAFFF2 */
    --border: 176 50% 75%;       /* Lebih gelap dari #BAFFF2 */
    --input: 176 50% 75%;        /* Lebih gelap dari #BAFFF2 */
    --ring: 168 99% 40%;        /* #01CDA8 */
    --chart-1: 168 99% 40%;     /* #01CDA8 */
    --chart-2: 256 28% 25%;     /* #332D4F */
    --chart-3: 166 100% 80%;    /* #45FFDD */
    --chart-4: 61 40% 50%;      /* #b6b544 */
    --chart-5: 348 75% 58%;     /* #e54461 */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
